[package]
name = "oxk"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
rdkafka = { version = "0.38.0", features = ["cmake-build"] }
tokio = { version = "1.48.0", features = ["full"] }
anyhow = "1.0.100"
futures = "0.3.31"
